div
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block")
    | var countryList =
    include ../tool/country.json
    | ;
    include:lsc index.ls
  div(plug="body")
    .ldcv.autogap.scroll(ld="ldcv",data-name="list"): .base.w-480.rwd
      .inner.p-0(style="height:80vh;overflow-y:scroll")
        .sticky.p-3.border-bottom.bg-white.shadow-sm(style="top:0")
          input.form-control(ld="search",t,t-placeholder="search")
        .p-2: .px-2.py-1.rounded-sm.clickable.option(ld-each="option",data-ldcv-set="")
    .m-edit.has-tips.manual(ld="error-root")
      .position-relative(ld="input-group")
        .btn.btn-outline-secondary(ld="toggle content",data-name="list",style="flex:1 0 50%") ...
        input.form-control.d-none(ld="other-text",t,t-placeholder="fill-other")
      .m-edit: .hover-tip.tip-sm: div(ld-each="error")
    .m-view: div(ld="content")
