div
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block")
    | var countryList =
    include ../tool/country.json
    | ;
    include:lsc index.ls
  div(plug="body")
    .ldcv.autogap.scroll(ld="ldcv",data-name="list"): .base.w-480.rwd
      .inner.p-0.d-flex.flex-column(style="height:80vh")
        .pt-3.pb-2.px-3.border-bottom.bg-white.shadow-sm(style="top:0")
          input.form-control(ld="search",t,t-placeholder="search")
          .d-flex.mt-2.g-2.flex-wrap.text-sm
            .d-flex.align-items-center(ld-each="chosen")
              span(ld="label")
              span.text-danger.text-sm.ml-1.clickable(ld="remove"): i.i-close
        .p-2.flex-grow-1(style="overflow-y:scroll"): .px-2.py-1.rounded-sm.clickable.option(ld-each="option")
        .sticky.px-3.py-2.border-top.bg-white.shadow-sm(style="bottom:0")
          .d-flex.align-items-center.justify-content-between
            .btn.btn-sm.btn-primary(ld="reset",t="reset")
            .btn.btn-sm.btn-primary(data-ldcv-set="",t="close")
    .m-edit.has-tips.manual(ld="error-root")
      .position-relative(ld="input-group")
        .btn.btn-outline-secondary(ld="toggle content",data-name="list",style="flex:1 0 50%") ...
        input.form-control.d-none(ld="other-text",t,t-placeholder="fill-other")
      .m-edit: .hover-tip.tip-sm: div(ld-each="error")
    .m-view: div(ld="content")
